*{
		margin:0;
		padding:0;
		
	}
/*header start here */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
 .active {
    background-color:#0b648f;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/*header end her */


/*   table alternate start here */


#DceAlternatetableID {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#DceAlternatetableID td, #DceAlternatetableID th {
    border: 1px solid #ddd;
    padding: 0px;
}

#DceAlternatetableID tr:nth-child(even){background-color: #f2f2f2;}

#DceAlternatetableID th {
    padding: 5px;
    text-align: left;
    background-color: #0b648f;
    color: white;
}

/*   table alternate end here */
/* form start here */

input[type="text"]{	
	border: 1px solid black;
	border-radius: 4px;
	padding: 10px;
	}
select, textarea{
	border: 1px solid black;
	border-radius: 4px;
	padding: 10px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}


