<html>
<head>
	<title>Dynamic Computer Education</title>  

	##<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	##<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

	<link rel="stylesheet" src="$!baeUrl/resources/css/dceStyle.css"/>
	##<link rel="icon" href="$!baeUrl/resources/css/images/LOGO.png">
	##<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	##if(!$noHeader)
		<div>
			#parse("header.vm")
		</div>
	##end	

	<div>
		$screen_content
	</div>
	
	#if(!$noFooter)	
		<div style="background: #E0E0E0; text-align: center; padding: 5px; margin-bottom: 10px;">
			#parse("footer.vm")
		</div>  
	#end	
</body>
</html>