<link rel="stylesheet" href="$baeUrl/resources/css/dceStyle.css"/>
#if($!studentAttendanceReport.check_in_datetime!=$null)
	#set($disableCheck_in="disabled")
	#set($isCheckin="False")
#end

#if($!studentAttendanceReport.check_out_datetime!=$null || $!studentAttendanceReport.check_in_datetime==$null)
	#set($disableCheck_out="disabled")
	#set($isCheckin="True")
#end	
<style>

body{
	background-color:#f2f2f240;
}
table{
	width:100%;
	}
	
#input{
	background-color:#0b648f;
	color:white;
	line-height:40px;
}
td {
	height: 50px;
	padding: 15px ;
}
</style>
<form action="status" method="GET">
	<input type="hidden" name="isCheckin" value="$!isCheckin"> 
	<table id="input">
	     <tr>
	       <td style="display:none"><input type="hidden" name="fullName" value="$!studentAttendanceReport.fullName"></td>
	       <td style="display:none"><input type="hidden" name="course" value="$!studentAttendanceReport.course"></td>
	       
	    </tr>
	    <tr>
			<td>Enter your ID:</td>
			<td><input style="width: 26%;height: 30px;"type="text" name="uid" value="$!studentAttendanceReport.uid"></td>
		</tr>
		<tr>
			<td style="display:none"><input type="submit" name="save" value="search"></td>
		</tr>
	</table>
 
       <h2><p style="color:red">$!studentAttendanceReport.message</p></h2>
	   <h2><p style="color:green">$!message</p></h2>
	  </tr>   
		
#if($status)
     <table id="DceAlternatetableID">
    	<tr>
		    <td>Full Name</td>
		   <td>$!studentAttendanceReport.fullName</td>
		 </tr>  
		 <tr>
		   <td>Course</td>
		   <td>$!studentAttendanceReport.course </td>
		  </tr> 
		  <tr>
		     <td style="cursor:pointer"><button type="submit" $!disableCheck_in name="check_in_datetime" formaction="markAttendance.mvc">Check-in</td>
			 <td>$!dateUtils.dateToString($!studentAttendanceReport.check_in_datetime,"dd/MM/YYYY hh:mm a")</td>
		  </tr>
		  <tr>
		     <td style="cursor:pointer"><button type="submit" $!disableCheck_out name="check_out_datetime"  formaction="markAttendance.mvc">Check-out</td>
			 <td>$!dateUtils.dateToString($!studentAttendanceReport.check_out_datetime,"dd/MM/YYYY hh:mm a")</td>
		  </tr>
	  </table>
#end		   
</form



